@media only screen and (max-width: 1250px) {
    .form-container {
        display: flex;
        flex-direction: column;
        width: 70vw;
        justify-content: center;
    }

    .form-container button {
        width: auto;
    }
}

@media only screen and (max-width: 575px) {
    .form-container {
        width: 90vw;
    }
}
